# List and Tuple

## list

In [1]:
my_list0 = []
my_list1 = list('python')
my_list2 = ['Neymar', 'C. Ronaldo', 'Messi', 'Zidane', 'Ramos']

print('my_list0 = ' + str(my_list0))
print('my_list1 = ' + str(my_list1))
print('my_list2 = ' + str(my_list2))

my_list0 = []
my_list1 = ['p', 'y', 't', 'h', 'o', 'n']
my_list2 = ['Neymar', 'C. Ronaldo', 'Messi', 'Zidane', 'Ramos']

In [2]:
# access of list
print('my_list2[0] = ' + my_list2[0])
print('my_list2[1] = ' + my_list2[1])
print('my_list2[-1] = ' + my_list2[-1])
# [0:2] = 0,1 ...but no 2
print('my_list2[0:2] = ' + str(my_list2[0:2]))

my_list2[0] = Neymar
my_list2[1] = C. Ronaldo
my_list2[-1] = Ramos
my_list2[0:2] = ['Neymar', 'C. Ronaldo']

In [3]:
my_list2.append('Beckham')
print(my_list2)

my_list2.extend(['Bale', 'Jo Hyeon-woo'])
print(my_list2)

my_list2+=['Toni Kroos', 'Keisuke Honda']
print(my_list2)

del my_list2[4]  # delete 'Ramos'
print(my_list2)

my_list2.insert(2, 'Mbapp√©')
print(my_list2)

print('Zidane' in my_list2)

print(len(my_list2))

['Neymar', 'C. Ronaldo', 'Messi', 'Zidane', 'Ramos', 'Beckham']
['Neymar', 'C. Ronaldo', 'Messi', 'Zidane', 'Ramos', 'Beckham', 'Bale', 'Jo Hyeon-woo']
['Neymar', 'C. Ronaldo', 'Messi', 'Zidane', 'Ramos', 'Beckham', 'Bale', 'Jo Hyeon-woo', 'Toni Kroos', 'Keisuke Honda']
['Neymar', 'C. Ronaldo', 'Messi', 'Zidane', 'Beckham', 'Bale', 'Jo Hyeon-woo', 'Toni Kroos', 'Keisuke Honda']
['Neymar', 'C. Ronaldo', 'Mbapp\xc3\xa9', 'Messi', 'Zidane', 'Beckham', 'Bale', 'Jo Hyeon-woo', 'Toni Kroos', 'Keisuke Honda']
True
10

## tuple

In [4]:
t1 = (1, 2, "a")
t2 = 3, 5, 2
t3 = 'a', 'b', ('c', 'cc'), ['d', 'ddd', 'dd'], -4.24e99, 0.9+0.6j,
t4 = 1,
t5 = tuple(['Neymar', 'C. Ronaldo', 'Messi'])  #turn list to tuple
t6 = (1, 2, 3) + (4, 5, 6)

print(t1)
print(t2)
print(t3)
print(t4)
print(t5)
print(t6)

x, y, z = t2
print(x,y,z)
x, y, z = y, z, x
print(x,y,z)

for elem in t5:
    print(elem)

(1, 2, 'a')
(3, 5, 2)
('a', 'b', ('c', 'cc'), ['d', 'ddd', 'dd'], -4.24e+99, (0.9+0.6j))
(1,)
('Neymar', 'C. Ronaldo', 'Messi')
(1, 2, 3, 4, 5, 6)
(3, 5, 2)
(5, 2, 3)
Neymar
C. Ronaldo
Messi

In [5]:
# For Python3
s = (1, 2, 3, 4, 5)
a, *b = s
print(a)
print(b)

*a, b, c = s
print(a)
print(b)
print(c)

# Error: tuple cannot be assigned and deleted
s[1] = 7
del s[-1]

SyntaxError: invalid syntax (<ipython-input-5-0a35674c0716>, line 3)

# Dict and Set

## Dict

In [8]:
d1 = {'a': 1, 'b': 2}
d1['c'] = 3
print(d1)
print(d1.keys())
print(d1.values())
print(d1.items())

{'a': 1, 'c': 3, 'b': 2}
['a', 'c', 'b']
[1, 3, 2]
[('a', 1), ('c', 3), ('b', 2)]